{% extends "_includes/layouts/default.njk" %}

{% block title %}HeartScape Studio Team{% endblock %}

{% block content %}
  <div class="">
    <h1 class="my-2 lg:my-6 text-center text-3xl">HeartScape Studio Team</h1>
    <main>
      <p>Foreach team member:
      </p>
      <ul class="mx-4 list-disc list-inside">
        <li>Department/Responsibilities</li>
        <li>Name</li>
        <li>Headshot?</li>
        <li>Website link? (portfolio, github, etc.)</li>
        <li>LinkedIn?</li>
      </ul>
    </main>
  </div>
{% endblock %}
