{% extends "_includes/layouts/default.njk" %}

{% block title %}HeartScape Studio Team{% endblock %}

{% block content %}
  <div class="">
    <h1 class="my-2 lg:my-6 text-center text-3xl">HeartScape Studio Team</h1>
  </div>
{% endblock %}
