{% extends "_includes/layouts/default.njk" %}

{% block title %}HeartScape Studio Team{% endblock %}

{% block content %}
  {% include 'partials/nav-spacer.njk'%}

  <div class="py-4 lg:py-10 bg-gradient-to-r from-green-200 to-blue-300">
    <h1 class="px-4 text-center">HeartScape Studio Team</h1>
    <main>
      {% include '_includes/partials/person.njk' %}
    </main>
  </div>
{% endblock %}
