{% extends "_includes/layouts/default.njk" %}

{% block title %}Growing Game{% endblock %}

{% block content %}
  <div class="py-4 lg:py-10">
    <h1 class="px-4 text-center">Playtest 4 instructions</h1>
    <main>
      <div class="mb-8 px-4 mx-auto max-w-prose">
        <h2>Step 1.</h2>
        <p>Download the current
          <a href="https://b7s9-static.nyc3.digitaloceanspaces.com/srp/Growing-Win-Build-2021-3-12.zip" class="text-blue-600 font-semibold hover:underline">Windows Build</a>. Do not start playing yet.
        </p>
        <h2>Step 2.</h2>
        <p>Open the
          <a href="https://drexel.qualtrics.com/jfe/form/SV_dbrGD08XntGENWS" class="text-blue-600 font-semibold hover:underline">Playtest Survey</a>
          and answer the questions about hardware. The survey will prompt you when to start playing.</p>
        <h2>Step 3.</h2>
        <p>Once you feel finished playing (or complete the game) return to finish the survey.</p>
      </div>
      <div class="mb-8 grid p-4 grid-cols-1 gap-y-4 lg:p-6 lg:gap-6 lg:grid-cols-4 items-center ">
        <div class="lg:col-start-2 lg:col-span-2"><img src="https://b7s9-static.nyc3.digitaloceanspaces.com/srp/website/concept-art/luna-and-ray-1280.png" alt="Luna & Ray concept art"></div>
        <div class="lg:col-start-1 lg:col-span-2"><img src="https://b7s9-static.nyc3.digitaloceanspaces.com/srp/website/concept-art/sunflower-movement-1280.png" alt="Sunflower movement concepts"></div>
        <div class="lg:col-start-3 lg:col-span-2"><img src="https://b7s9-static.nyc3.digitaloceanspaces.com/srp/website/concept-art/Cat_Concept_Art_v3-1280.png" alt="Stella the cat concept art"></div>
      </div>
    </main>
  </div>
{% endblock %}
