{% extends "_includes/layouts/default.njk" %}

{% block title %}Growing Press Kit{% endblock %}

{% block content %}
  <div class="">
    <h1 class="my-2 lg:my-6 text-center text-3xl">Press Kit</h1>
  </div>
{% endblock %}
