{% extends "_includes/layouts/default.njk" %}

{% block title %}Growing Press Kit{% endblock %}

{% block content %}
  {% include 'partials/nav-spacer.njk'%}

  <div class="py-4 lg:py-10 bg-gradient-to-r from-blue-50 to-gray-100">
    <h1 class="px-4 text-center">Press Kit</h1>
    <main>
      <div class="mx-auto py-7 p-5 md:p-10 max-w-prose lg:max-w-2xl rounded-xl bg-white shadow-xl">
        <p class="lg:text-lg lg:leading-10 text-gray-600">Growing is a short, story-driven, 3D platformer played from the perspective of a sunflower. Along the player’s journey to deliver a letter through a super-sized house, they’ll acquire new movement abilities, push objects around to help with platforming, and sneak past a sleepy cat’s surveying gaze.</p>
      </div>

        <div class="px-4">
          <h2>Tags &amp; Categories</h2>
          <ul class="md:mx-4 list-disc list-outside space-y-2">
            <li>
              <span class="font-extrabold">Convention:</span>
              3D Platformer, Story-rich.</li>
            <li>
              <span class="font-extrabold">Length:</span>
              Short game, 1-2 hours.</li>
            <li>
              <span class="font-extrabold">Difficulty:</span>
              Easy.</li>
            <li>
              <span class="font-extrabold">Devices:</span>
              Devices with 1024px screens or greater.</li>
            <li>
              <span class="font-extrabold">Platforms:</span>
              OSX and Windows.</li>
          </ul>
        </div>
      <div class="grid gap-4 px-4 lg:mt-4 grid-flow-row md:grid-cols-2 lg:grid-cols-3">
      </div>
      {# <ul class="mx-4 list-disc list-inside">
        <li>Game short pitch</li>
        <li>Game long pitch</li>
        <li>HeartScape email</li>
        <li>Promo vid</li>
        <li>Download all press shots button</li>
        <li>Individually downloadable press shots/screengrabs</li>
        <li>Logo/icon</li>
        <li>Awards & Recognition</li>
        <li>Selected articles / Reviews</li>
        <li>Team members & Responsibilities</li>
      </ul> #}
    </main>
  </div>
{% endblock %}
