{% if navigation.items %}
  {% for item in navigation.items %}
    {% set externalAttribute = '' %}
    {% set currentAttribute = '' %}

    {% if item.external %}
      {% set externalAttribute = ' rel="external"' %}
    {% endif %}

    {% if page.url == item.url %}
      {% set currentAttribute = ' aria-current="page"' %}
    {% endif %}

    <a class="block px-4 py-2 font-semibold rounded bg-gray-100 hover:bg-gray-200 md:bg-transparent" href="{{ site.baseURL }}{{ item.url }}" {{ externalAttribute | safe }} {{ currentAttribute | safe }}>
      {{ item.text }}
    </a>
  {% endfor %}
{% endif %}
