<div class="flex flex-wrap justify-center">
  {% for person in people.items %}
    {% if person.status === 'core' %}
      <div class="flex-initial w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6">
        <div class="m-4 rounded shadow bg-gray-200 text-gray-800">

          {% if person.imgUrl %}
            {% set imgUrl = person.imgUrl %}
            {%else%}
            {% set imgUrl = 'https://placekitten.com/200/200' %}
          {% endif %}
          <img class="headshot rounded mx-auto" src="{{imgUrl}}" alt="{{person.name}}">

          <div class="p-2">
            <span class="font-bold">{{person.name}}</span>
            {% if person.genderPronouns %}
              <span class="text-sm text-gray-600">{{person.genderPronouns}}</span>
            {% endif %}
            <p>{{person.roles}}</p>

            {% if person.linkedinUrl %}
              <a href="{{person.linkedinUrl}}" target="blank" class="text-2xl">
                <i class="ci-LinkedIn"></i>
              </a>
            {% endif %}

            {% if person.website.url %}
              <a href="{{person.website.url}}" target="blank" class="text-2xl">
                <i class="ci-link_02"></i>
              </a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
